
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

  
/* @link https://utopia.fyi/type/calculator?c=360,7,1.618,1240,33,1.26,1,4,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,2xs,xl,3 */

:root {
  --step--2: clamp(0.5208rem, 0.3421rem + 0.7944vw, 0.64rem);
  --step--1: clamp(0.625rem, 0.3625rem + 1.1667vw, 0.8rem);
  --step-0: clamp(0.75rem, 0.375rem + 1.6667vw, 1rem);
  --step-1: clamp(0.9rem, 0.375rem + 2.3333vw, 1.25rem);
  --step-2: clamp(1.08rem, 0.3563rem + 3.2167vw, 1.5625rem);
  --step-3: clamp(1.296rem, 0.3103rem + 4.3808vw, 1.9531rem);
  --step-4: clamp(1.5552rem, 0.2259rem + 5.908vw, 2.4414rem);
  
/* @link https://utopia.fyi/type/calculator?c=360,12,1.2,600,16,1.25,4,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|8,s-l&g=m,s,4xl,2 */
  --grid-max-width: 38.19rem;
  --grid-gutter: var(--space-m-l, clamp(1.125rem, -0.1452rem + 5.6452vw, 2rem));
  --grid-columns: 2;
}

$font-montserrat-weight-medium: 500;
$font-montserrat-weight-bold: 700;
$font-frances-weight-bold: 700;

:root {

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}

@mixin breakpointat {
  @media (width <= 425px) {
    display: flex;
    flex-direction: column;
  }
}

main, body {
  border-block: 0;
  border-inline: 0;
  padding-inline: 0;
  padding-block: 0;
  margin-inline: 0;
  margin-block: 0;
}

.containar {
  box-sizing: border-box;
  margin-block: 10%;
  margin-inline: auto;
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
}

.card {
  display: grid;
  grid-template-columns:  1.1fr 1fr;
 /* grid-template-rows:  0.1fr  0.3fr 0.2fr 0.3fr 0.1fr;*/

  justify-content: space-around;
  
  border-radius: 12px;
  border-color: black;
  border-style: solid;
  overflow: hidden;
  
  @include breakpointat;

  &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: var(--grid-gutter);
  }



  &__portada {
    grid-column-start: 1;
    grid-column-end: 2 ;
    inline-size: 100%;
    block-size: 100%;

  }



  &__subtitle {
    order: 1;
    font-weight: $font-montserrat-weight-medium;

    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;


    font-size: var(--step--1);
  }

  &__title {
    order: 2;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-size: var(--step-2);

    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
  }

  &__description {
    order: 3;
    font-size: var(--step--1);
  }

  .card__price {
    order: 4;
    display: flex;
    align-items: center;
  }
  &__price--available{

    order: 1;
    flex: 1 1 auto;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;

    padding-block: 0;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
    font-size: var(--step-2);
  }

  &__price--disable{

    order: 2;

    flex: 1 1 auto;
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-size: var(--step--1);

    padding-block: 1vh;
    padding-inline: 0;
    margin-block: 0;
    margin-inline: 0;
  }

  &__button {
    order: 5;
    padding-block: 10px;
    padding-inline: 10px;
    margin-block: 0;
    margin-inline: 0;
    border-inline: 1px red solid;
    border-block: 1px red solid;
    border-radius: 12px;
  }
}

