:root {
  /* Colors */
  --background-color-main: #F4D04E;
  --background-color-card: #FFFFFF;

  --color-text-1: #111111;
  --color-text-2: #6B6B6B;

  /* Typography */
  --font-1: "Figtree Extra Bold";
  --font-1-size: 24px;
  --font-1-line-height: 150%;
  --font-1-letter-spacing: 0px;
  --font-1-bold: 800;


  --font-2: "Figtree Extra Medium";
  --font-2-size: 16px;
  --font-2-line-height: 150%;
  --font-2-letter-spacing: 0px;
  --font-2-bold: 500;


  --font-3: "Figtree Medium";
  --font-3-size: 14px;
  --font-3-line-height: 150%;
  --font-3-letter-spacing: 0px;
  --font-3-bold: 500;

  --font-4: "Figtree Medium";
  --font-4-size: 14px;
  --font-4-line-height: 150%;
  --font-4-letter-spacing: 0px;
  --font-4-bold: 800;


  /* Spacing */
  
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 24px;

  /* Coorner Radius */ 

  --radius-1: 20px;
  --radius-2: 10px;
  --radius-3: 4px;

  /* Border */

  --border-1: 1px;

  /* family */


@media (max-width: 1024px) {
    font-size: 16px;
  }
}


@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf");
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}


body {
  background-color: var(--background-color-main);
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
  width: 384px;
  height: 522px;
  background-color: var(--background-color-card);

  border-color: var(--color-text-1);
  border-style: solid;
  border-width: var(--border-1);
  border-radius: var(--radius-1);
  padding: var(--space-4);
}

.card-poster{
  border-radius: var(--radius-2);
  margin-bottom: var(--space-4);
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-status{
  background-color: var(--background-color-main);
  font-family:  "Figtree";
  font-size: var(--font-4-size);
  font-weight: var(--font-4-bold);
  width: max-content;
  padding-top: var(--space-1);
  padding-left: var(--space-3);
  padding-bottom: var(--space-1);
  padding-right: var(--space-3);
  border-radius: var(--radius-3);
}

.card-date {
  margin-top: var(--space-3);
  font-family: "Figtree";
  font-size: var(--font-3-size);
  font-weight: var(--font-3-bold);
  border-color: red;
  border-style: solid;
}
