:root {
  /* color */
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  /* font */

  --font-size: 16px;
  --font-weight-0: 400;
  --font-weight-1: 500;
  --font-weight-2: 700;

  /* space */
  --width-card: 736px;
  --height-card:1711px;

  --space-padding-left: 40px;  /* h1 */
  --space-padding-top: 40px;
  --space-3: 30px;  /* p */
  --space-4: 10px;
  --space-5: 15px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

